body {
    background-color: #343469;
    background-image: url('dark-wood.png') !important;
    word-wrap: break-word;
}

h2 {
    text-align: center;
    color: #ffffff;
}

p {
    margin: 0;
}

a {
    color: #5757ac;
    transition-duration: 0.25s;
}

a:hover {
    color: #343469;
    text-decoration: none;
}

a:active {
    color: #5757ac;
}

a:focus {
    color: #5757ac;
}

.form-control:focus {
    border-color: #5757ac;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 204, 0.6);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}

.nav-link {
    color: #343469;
}

.nav-link:hover {
    color: #5757ac;
}

.bannerbox {
    color: #ffffff;
    background-color: #9c894d;
    background-image: url('booksbanner.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #343469;
    margin-bottom: 5px;
}

.bannerfooter {
    color: #343469;
    background-color: #ffffffaa;
    padding: 2%;
}

.bannerblurb {
    color: #343469;
    font-weight: bold;
    background-color: #ffffffaa;
    padding: 2%;
    margin-left: 10%;
    width: 50%;
}

.simplebox {
    background-color: #ffffff;
    border: 1px solid #343469;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    margin-bottom: 5px;
}

.postsheading {
    color: #ffffff;
    text-shadow: #343469 0px 3px 3px;
}

.posttime {
    text-align: right;
}

.editbutton {
    color: #5757ac;
    padding: 0px 4px 4px 4px;
}

input {
    padding: 4px;
    border: 1px solid #343469;
    border-radius: 10px;
}

textarea {
    padding: 4px;
    border: 1px solid #343469;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.btnactive {
    color: #ffffff;
    background-color: #343469;
}

.btnactive:hover {
    background-color: #5757ac;
    color: #ffffff;
}

.bi-heart-fill {
    color: #343469;
}

.footer {
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-image: linear-gradient(#5757ac, #ffffff);
}
   
::-webkit-scrollbar-thumb {
    background: #343469;
}